@import '../../variables.scss';

p{
    color: white;
    // padding-top: 15px;
    // margin-bottom: 180px;
}

#formGroupEmail,
#formGroupPassword{
    background-color: $primary;
    border: none;
}

// label{
//     color: white;
//     font-weight: bold;
// }

// p,
// .company-icon{
//     display: flex;
//     justify-content: center;
// }


// .company-icon{
//     margin-top: 80px;
//     margin-bottom: 85px;
// }



// #formGroupEmail,
// #formGroupPassword,
// .log-in-btn{
//     border: none;
//     border-radius: 50px;
// }

