.online{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    .onlineCard{
        display: flex;
        flex-basis: 20%;
        margin: 5px;
        position: relative;
        .onlineProfile{
            display: flex;
            position: absolute;
            height: 27px;
            width: 27px;
            border-radius: 50%;
            top: -5px;
            right: -5px;
            background-color: #d2042d;
            object-fit: cover;
        }
        .onlineBackground{
            width: 100%;
            height: 220px;
            border-radius: 10px;
            object-fit: cover;
            cursor: pointer;
        }
        .onlineUser{
            position: absolute;
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            bottom: 10px;
            text-align: center;
            cursor: pointer;
            color: #fff;
        }
    }
}

    

   