.register {
    background-color: #2B3467;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .registerWrapper {
        width: 80%;
        display: flex;
        .registerWrapperLeft {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 20px;
            .registerLogo {
                width: 45%;
                height: 50%;
            }
            .registerLogoName {
                font-size: 60px;
                color: #FCFFE7;
                margin-bottom: 10px;
            }
            .registerDesc {
                font-family: 'Arimo', sans-serif;
                font-size: 20px;
                color: #FCFFE7;
                text-align: center;
            }
        }
        .registerWrapperRight {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            margin-left: 25px;
            .registerBox {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: 10px;
                .registerBoxTop {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 35px;
                    .registerImg {
                        display: flex;
                        width: 100px;
                        height: 100px;
                        border: 5px solid #d2042d;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                }
            }
        }
        .registerBoxBottom {
            .registerForm {
                height: 425px;
                padding: 0 40px 40px 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: white;
                border-radius: 10px;
                .registerImgUpload {
                    display: flex;
                    align-items: center;
                    padding-top: 25px;
                    .registerImgUploadLabel {
                        display: flex;
                        align-items: center;
                        color: #d2042d;      
                        // margin-right: 25px;
                        .icon {
                            font-size: 34px;
                            margin-left: 10px;
                            fill: #d2042d;
                            cursor: pointer;
                        }
                    }
                    
                }
                .registerInput {
                    color: #444a51;
                    height: 50px;
                    border: 1px solid #444a51;
                    border-radius: 10px;
                    padding-left: 20px;
                    font-size: 18px;
                }
                .registerErrorMsg {
                    color: #d2042d;
                    font-size: 12px;
                    margin-top: 3px;
                }
                .registerInput::placeholder {
                    font-family: 'Arimo', sans-serif;
                }
                .registerButton {
                    height: 50px;
                    width: 100%;
                    background-color: #d2042d;
                    color: white;
                    font-size: 23px;
                    border: none;
                    border-radius: 10px;
                    margin-bottom: 5px;
                    cursor: pointer;
                }
                // .loginRegisterButton {
                //     height: 50px;
                //     width: 100%;
                //     background-color: #2B3467;
                //     color: #BAD7E9;
                //     font-weight: 500;
                //     font-size: 23px;
                //     border-radius: 10px;
                //     border: none;
                //     margin-bottom: 5px;
                //     cursor: pointer;
                // }
            }
        }
    }
}
    