.profileRightBar{
    flex: 6;  
    padding: 20px;
    margin-top: 100px;
    .profileRightBarHeading{
        display: flex;
        margin: 20px 0;
        .profileRightBarTitle{
            font-size: 20px;
        }
    }
    .profileRightBarInfo{
        margin-bottom: 30px;
        .profileRightBarInfoItem{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .profileRightBarInfoKey{
                // border: 1px solid #7b8490;
                // border-radius: 5px;
                // background-color: #7b8490;
                margin-right: 20px;
                width: 100px;
            }
            .profileRightBarInfoValue{
                font-family: 'Arimo', sans-serif;
            }
        } 
    }
    .profileEditButton{
        cursor: pointer;
    }
    
}

//media queries for responsiveness
@media only screen and (max-width: 768px){
    .profileRightBar{
        display: none;
    }
}