.profile{
    width: fit-content;
    background-color: #2B3467;
    .profileWrapper{
        display: flex;
        .profileRight{
            flex: 10;
            .profileCover{
                height: 320px;
                position: relative;
                .profileCoverImg{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    padding-left: 20px;
                }
                .profileUserImg{
                    width: 150px;
                    height: 150px;
                    left: 0;
                    right: 0;
                    position: absolute;
                    margin: auto;
                    top: 150px;
                    border-radius: 50%;
                    border: 3px solid #d2042d;
                    object-fit: cover;
                }
            }
            .profileInfo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .profileInfoName{
                    font-size: 24px;
                    font-weight: bold;
                    color: #fcffe7;
                }
                .profileInfoDesc{
                    font-family: 'Arimo', sans-serif;
                    font-size: 15px;
                    color: #BAD7E9;
                }
            }
        }
        .profileRightBottom{
            display: flex;
        }
    }
}
