.menuLink{
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    .menuLinkText{
        margin-left: 10px;
        margin-right: 5px;
    }
    .menuLinkTextName{
        font-weight: 900;
        font-size: 18px;
    }
    &:hover{
        border: 1px solid #FCFFE7;
        background-color: transparent;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        fill: #FCFFE7;
    }
}

//media breakpoints for responsiveness
@media only screen and (max-width: 992px){
    .menuLink{
        display: block;
        .menuLinkText{
            display: none;
            .menuLinkTextName{
                display: none;
            }
        }
        &:hover{
            display: block;
            background-color: #7b8490;
            fill: white;
        }
    }
}