.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 25px;
    cursor: pointer;
    .sidebarFriendImg{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 3px solid #EB455F;
        margin-right: 8px;
        object-fit: cover;
        .sidebarFriendName{
            font-weight: 500;
        }
    }
}

//media query breakpoints for responsiveness
@media only screen and (max-width: 992px){
    .sidebarFriendName{
        display: none;
    }
}