.sidebar{
    flex: 2.8;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    .sidebarWrapper{
        padding: 20px;
        .sidebarWrapperIcon{
            border: none;
            background-color: #03396c;
        }
        .sidebarButton{
            border: none;
            cursor: pointer;
            padding: 10px;
            margin: 20px;
            width: 150px;
            .sidebarHr{
                margin: 10px;
                color: #7b8490;
            }
        }
        .sidebarFriendList{
            padding: 0;
            margin: 0;
            list-style: none;
        }
    }
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #03396c;
}
::-webkit-scrollbar-thumb {
    background-color: #7b8490;
}

//media query breakpoints for responsiveness
@media only screen and (max-width: 992px){
    .sidebar{
        flex: 1;
        .sidebarWrapper{
            padding: 17px;
            .sidebarButton{
                display: none;
                .sidebarHr{
                    display: none;
                }
            }
        }
    }
    ::-webkit-scrollbar {
        display: none;
    }
    ::-webkit-scrollbar-track {
        display: none;
    }
    ::-webkit-scrollbar-thumb {
        display: none;
    }
}

@media only screen and (max-width: 768px){
    .sidebar{
        display: block;
        .sidebarWrapper{
            padding: 3px;
            .sidebarHr{
                display: none;
                .sidebarFriendList{
                    padding-top: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px){
    .sidebar{
        display: none;
    }
}