.company-logo{
    width: 25%;
    margin-left: 130px;
    padding-top: 20px;
}

.create-account-btn{
    background-color: #7b8490;
    color: white;
    font-weight: bold;
    /* border-color: #7b8490;
    border-width: 3px; */
    border-radius: 50px;
    
}

