.postAddComment{
    padding: 5px;
    font-family: 'Arimo', sans-serif;
    border: 1px solid #FCFFE7;
    border-radius: 10px;
    background-color: transparent;
}
.postAddComment::placeholder{
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    padding-left: 10px;
    color: #FCFFE7;
}
.commentFooterIcon {
    margin-top: 3px;
    margin-left: -10px;
    font-size: 17px;
    font-family: 'Arimo', sans-serif;
    color: #FCFFE7;
    cursor: pointer;

}
.updateCommentButton{
    margin-top: 5px;
    margin-left: -8px;
    border: none;
    background-color: transparent;
}   
.updateCommentCloseButton,
.updateCommentSubmitButton{
    height: 40px;
    width: 17%;
    font-size: 17px;
    font-family: 'Arimo', sans-serif;
    color: #FCFFE7;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
        border: none;
        background-color: #FCFFE7;
        color: #7B8490;
        border-radius: 8px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    }
}
