.postIcon{
    margin-right: 6px;
}
.postOption{
    background-color: white;
}
.postCloseButton{
    background-color: #d2042d;
    font-family: 'Arimo', sans-serif;
    color: white;
    border-radius: 8px;
    border: 1px solid #FCFFE7;
    height: 40px;
    width: 17%;
    font-size: 17px;
    cursor: pointer;
}