.post {
    margin: 30px 0px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    transition: box-shadow 0.5s ease-in-out;
    &.newPost{
        box-shadow: 2px 4px 10px 1px #fcffe7;
    }
    .postWrapper {
        padding: 20px;
        margin: 0px 50px;
        .postTop {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .postTopLeft {
                display: flex;
                align-items: center;
                padding: 5px;
                .postProfileImg {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 2px solid #EB455F;
                    cursor: pointer;
                }
                .postUsername {
                    font-size: 15px;
                    color: #fcffe7;
                    margin: 0px 10px;
                    cursor: pointer;
                }
                .postDate {
                    font-family: 'Arimo', sans-serif;
                    font-size: 13px;
                    color: #BAD7E9;
                }
            }
            .postTopRight {
                display: flex;
                align-items: center;
                gap: 30px;
                margin-bottom: 10px;
                .postEditButton,
                .postDeleteButton {
                    font-size: 20px;
                    fill: #b0bac5;
                    cursor: pointer;
                }
                .postEditButton:hover,
                .postDeleteButton:hover {
                    fill: #fcffe7;
                }
            }
        }
        .postCenter {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            cursor: pointer;
            .postCenterImg{
                width: 100%;
                height: 420px;
                .postImg {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    object-fit: contain;
                    background-color: black;
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                     box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                }   
            } 
        }
        .postContent {
            padding-top: 20px;
            .postName {
                margin-right: 5px;
                font-size: 20px;
                color: #FCFFE7;
            }
            .postText {
                font-family: 'Arimo', sans-serif;
                font-size: 15px;
                color: #BAD7E9;
            }
            .postCommentText {
                margin-left: 20px;
                font-size: 15px;
                color: #FCFFE7;
                cursor: pointer;
            }
            .commentLoad{
                    padding-top: 8px;
                    font-family: 'Arimo', sans-serif;
                    font-size: 15px;
                    .commentLoadButton{
                        border: none;
                        background-color: transparent;
                        color: #b0bac5;
                    }    
                }
            .comment{
                margin: 30px 0px;
                .commentUserInfo{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .commentImg{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;  
                        cursor: pointer;
                    }
                    .commentUsername{
                        font-size: 15px;
                        color: #FCFFE7;
                    }
                    .commentDate{
                        font-family: 'Arimo', sans-serif;
                        font-size: 13px;
                        color: #FCFFE7;
                    }
                }
                .commentText{
                    width: 50%;
                    margin-left: 40px;
                    font-family: 'Arimo', sans-serif;
                    font-size: 15px;
                    color: #BAD7E9;
                }
                .commentFooter{
                    margin-left: 40px;
                    padding-top: 5px;
                    display: flex;
                    gap: 25px;
                    .commentFooterItem{
                        border: none;
                        background-color: transparent;
                        .commentFooterIcon{
                            fill: #FCFFE7;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                    .commentLikeCounter{
                        margin-top: 8px;
                        font-size: 15px;
                        color: #FCFFE7;
                    }
                }
            }
        }
        .postFooter {
                margin-bottom: 8px;
                .postFooterBottomItem {
                    border: none;
                    padding: 7px;
                    display: flex;
                    align-items: center;
                    background-color: #2B3467;
                    cursor: pointer;
                    .postFooterIcon {
                        fill: #FCFFE7;
                        font-size: 25px;
                        margin-right: 10px;
                    }
                }
                .postLikeCounter {
                    font-size: 15px;
                    color: #FCFFE7;
                }
            }
        .postComment {
            padding: 25px;
            display: flex;
            align-items: center;
            gap: 8px;
            .postCommentImg {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
            .postAddComment {
                padding: 6px 50px 6px 12px;
                border: 1px solid #b0bac5;
                border-radius: 20px;
                background-color: transparent;
                font-family: 'Arimo', sans-serif;
                font-size: 14px;
                opacity: 0.8;
            }
            .postAddComment::placeholder {
                color: #b0bac5;
            }
            .postAddCommentSubmitButton{
                border: none;
                background-color: transparent;
                margin-left: 10px;
                cursor: pointer;
                .postAddCommentSubmitIcon{
                    fill: #b0bac5;
                    font-size: 25px;
                }
            }
        }

    }
 }
 
 