@font-face {
  font-family: 'Amaranth';
  src: url('./Fonts/Amaranth/Amaranth-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Arimo';
  src: url('./Fonts/Arimo/Arimo-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

*{
  // background-color: #03396c;
  color: white;
  font-family: 'Amaranth', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}


