// Button color themes
$primary: #d2042d;
$secondary: #7b8490;
$light: #b0bac5;
$btn-hover-bg-shade-amount: 50%;
$btn-font-family: 'Arimo', sans-serif;

// Form color themes
$input-color: #444a51;
$input-bg: white;
$input-font-family: 'Arimo', sans-serif;
$input-placeholder-color: #444a51;
$input-border-color: #fcfcfc;
$form-file-button-color: #FCFFE7;
$form-file-button-bg: #7b8490;
$form-file-button-hover-bg: #2B3467;
$form-label-color: #BAD7E9;
$form-label-font-family: 'Arimo', sans-serif;
$form-select-font-family: 'Arimo', sans-serif;
$form-select-color: #444a51;
$form-select-border-color: #d2042d;

// Modal color theme
$modal-content-bg: #2B3467;
$modal-header-border-color: #FCFFE7;
